{% extends "base.html.twig" %}

{% block title %}
	SymProject - Modification
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="mt-4">Formulaire de modification </h1>

		{{ form(form) }}

		</div>
	{% endblock %}
